<div class= "container">
  <h1>Add new restaurant</h1>
  <%= simple_form_for [@restaurant] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: %w[chinese italian japanese french belgian] %>
    <%= f.input :phone_number %>
    <%= f.submit "Create Restaurant", class: "btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to "Back to index", restaurants_path %>
</div>
